html,body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    text-decoration: black underline;
    text-shadow: 1px 1px 1px #FF0000 ;
}
div {
    position: fixed;
    /*top: 10px;*/
    bottom: 0;
    width: 100%;
    background: #0000FF;
    max-height: 40px;
    border: 4px solid #FF0000;
    color: white;
    text-align: center;
}