* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8dc81;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.877);
    overflow-x: hidden;
    transition: 0.6s;
}

.menu {
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

.menu a {
    text-decoration: none;
    display: block;
    font-size: 3rem;
    padding: 10px;
    color: #b1b1b1;
    transition: all 0.4s;
}

.menu a:hover {
    color: #ffffff;
}

.overlay .btn {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 60px;
    background: none;
    border: none;
    font-size: 100px;
    outline: none;
    cursor: pointer;
    color: white;
}

.btn1 {
    font-size: 5rem;
    font-weight: 700;
    color: white;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}