*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 300px;
    height: 350px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s;
}
.card:hover{
    box-shadow: 10px 10px rgb(255, 0, 0),20px 20px 2px rgba(0, 13, 255, 0.775);
}
.card img{
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}
.card:hover img{
    transform: scale(1.1);
}
.icons{
    position: absolute;
    top: 250px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.578);
}
.icons i{
    color: black;
}
.ic1{
    border-radius: 0 10px 10px 0;
    transform: translateX(-100%);
    left: 0;
    transition: all 0.4s;
}
.ic2{
    border-radius: 10px 0 0 10px;
    transform: translateX(100%);
    right: 0;
    transition: all 0.4s;
}
.card:hover .ic1, .card:hover .ic2,.card:hover .text{
    transform: translateX(0);
}
.text{
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(20px);
    background: rgba(255, 255, 255, 0.476);
    text-align: center;
    transition: all 0.4s;
}