.aaa {
    background: #003476;
}

.bbb {
    background: #0000FF;
}
.ccc {
    background: #2328ff;
}

.ddd {
    background: #0062d2;
}

.eee {
    background: deepskyblue;
}

.fff {
    background: lightskyblue;
}

.ggg {
    background: lightblue;
}